.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
.title {
	font-size: 3rem;
	font-weight: 600;
}
.description {
	font-size: 1.5rem;
	font-weight: 500;
}
.playBtn {
	background-color: #f50057;
	color: white;
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 5px;
	font-size: 1.2rem;
	cursor: pointer;
	text-decoration: none;
}
.scoreWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 1rem;
	font-size: 1.5rem;
	margin-bottom: 2rem;
}
.score {
	font-weight: 600;
	margin-left: 0.5rem;
}
